# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.gitignore
.idea/

#Tests
.coverage.env
.env
.coverage

/staticfiles