<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand" href="{% url 'countries:home' %}">🌍 Countries & Languages</a>

        <div class="mx-auto d-flex gap-3">
            <a class="nav-link text-white fw-bold" href="{% url 'countries:countries-list' %}">Countries |</a>
            <a class="nav-link text-white fw-bold" href="{% url 'countries:language-list' %}">Languages |</a>
        </div>

    </div>
</nav>