{% extends 'base.html' %}

{% block title %}Sort by language{% endblock %}

{% block content %}

<h2>Countries where "{{ language.name }}" uses:</h2>

<ol class="list-group list-group-numbered">
  {% for country in countries %}
    <li class="list-group-item">
      <a href="{% url 'countries:country-detail' country.pk %}">{{ country.name }}</a>
    </li>
  {% empty %}
    <li class="list-group-item">No countries found for this language.</li>
  {% endfor %}
</ol><br>

<a href="{% url 'countries:countries-list' %}"><-- Back to list</a>

{% endblock %}