{% extends 'base.html' %}

{% block title %}Countries and Their Languages List{% endblock %}

{% block content %}

{% include 'includes/sort-by-letters.html' %}

    <ol class="list-group list-group-numbered">
  {% for country in page_obj %}
    <li class="list-group-item">
      <a href="{% url 'countries:country-detail' country.pk %}">{{ country.name }}</a>
    </li>
  {% empty %}
    <li class="list-group-item">No countries found.</li>
  {% endfor %}
</ol>

{% include 'includes/paginator.html' %}

{% endblock %}